######################################################### \
#### User MCU and TMCs wiring definition file ###########  + --> Everything MCU related :)
######################################################### /

# This file is yours: keep in mind that it will not be erased when updating
# the config using moonraker and it will be kept as you've set it.

# Put here all your wiring definitions, your MCU serial port, CANbus UUID, etc...
# It should be populated automatically with some default wiring templates during
# the first time install of the config if you choose to do so when asked by the
# script. If it's not the case, you will need to manually define all your
# [board_pins] section. You can use the pinout documentation here: ./docs/pinout.md

# ------------------------------------------------------------------------------------------


#-------------------------#
#   TMCs DRIVERS          #
#-------------------------#

# ---------------------------------------------------------------------- AXIS DRIVERS ----> optional, but only one line per axis need to be selected
### 1. X Drivers -------------------------------------------------------------------------
# TODO: interpolate is inverted, should be false?
[include config/hardware/axis/X/TMC/TMC2209.cfg]
# [include config/hardware/axis/X/TMC/TMC2209_V0specific.cfg] # Should only be used for early LDO V0 kits to mitigate the known VFAs issue
# [include config/hardware/axis/X/TMC/TMC2240.cfg]
# [include config/hardware/axis/X/TMC/TMC5160.cfg]
### 2. Y Drivers -------------------------------------------------------------------------
[include config/hardware/axis/Y/TMC/TMC2209.cfg]
# [include config/hardware/axis/Y/TMC/TMC2209_V0specific.cfg] # Should only be used for early LDO V0 kits to mitigate the known VFAs issue
# [include config/hardware/axis/Y/TMC/TMC2240.cfg]
# [include config/hardware/axis/Y/TMC/TMC5160.cfg]
### 3. Z Drivers -------------------------------------------------------------------------
[include config/hardware/axis/Z/TMC/TMC2209_1-Motor.cfg]
# [include config/hardware/axis/Z/TMC/TMC2209_3-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC2209_4-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC2240_1-Motor.cfg]
# [include config/hardware/axis/Z/TMC/TMC2240_3-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC2240_4-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC5160_1-Motor.cfg]
# [include config/hardware/axis/Z/TMC/TMC5160_3-Motors.cfg]
# [include config/hardware/axis/Z/TMC/TMC5160_4-Motors.cfg]
# ----------------------------------------------------------------------------------------


# ------------------------------------------------------------------- EXTRUDER DRIVER ----> optional, but only one line need to be selected
### --------------------------------------------------------------------------------------
[include config/hardware/extruder/TMC/TMC2209.cfg]
# [include config/hardware/extruder/TMC/TMC2240.cfg]
# ----------------------------------------------------------------------------------------

#----------------------------------------#
#### BTT SKR Pico v1.0 definition ########
#----------------------------------------#

[mcu]
##--------------------------------------------------------------------
serial: /dev/serial/by-id/usb-Klipper_rp2040_5044340310895C1C-if00
##--------------------------------------------------------------------

[include config/mcu_definitions/main/BTT_SKR_Pico_v1.0.cfg] # Do not remove this line
[board_pins xye_SKR_mcu]
mcu: mcu
aliases:
    X_STEP=MCU_X_STEP  , X_DIR=MCU_X_DIR  , X_ENABLE=MCU_X_EN  ,
    Y_STEP=MCU_Y_STEP  , Y_DIR=MCU_Y_DIR  , Y_ENABLE=MCU_Y_EN  ,
    Z_STEP=MCU_Z_STEP  , Z_DIR=MCU_Z_DIR  , Z_ENABLE=MCU_Z_EN  ,
    E_STEP=MCU_E0_STEP , E_DIR=MCU_E0_DIR , E_ENABLE=MCU_E0_EN ,

    TMCUART=MCU_TMCUART , TMCTX=MCU_TMCTX ,

    X_STOP=MCU_X-STOP , Y_STOP=MCU_Y-STOP , Z_STOP=MCU_Z-STOP ,
    RUNOUT_SENSOR=MCU_E0-STOP ,
    # Not used: check to see if it's being used
    PROBE_INPUT=MCU_PROBE     ,

    E_HEATER=MCU_HE   , E_TEMPERATURE=MCU_TH0   ,
    BED_HEATER=MCU_HB , BED_TEMPERATURE=MCU_THB ,

    PART_FAN=MCU_FAN1 , E_FAN=MCU_FAN2 ,
    CONTROLLER_FAN=MCU_FAN3 ,

    STATUS_NEOPIXEL=MCU_RGB ,

[tmc2209 stepper_x]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 0

[tmc2209 stepper_y]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 2

[tmc2209 stepper_z]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 1

# Comment this section if you are using a toolhead with its own MCU
[tmc2209 extruder]
uart_pin: TMCUART
tx_pin: TMCTX
uart_address: 3


# [board_pins mcu_manufacturer]
# aliases:
#     MCU_X_STEP=gpio11  , MCU_X_DIR=gpio10  , MCU_X_EN=gpio12  ,
#     MCU_Y_STEP=gpio6   , MCU_Y_DIR=gpio5   , MCU_Y_EN=gpio7   ,
#     MCU_Z_STEP=gpio19  , MCU_Z_DIR=gpio28  , MCU_Z_EN=gpio2   ,
#     MCU_E0_STEP=gpio14 , MCU_E0_DIR=gpio13 , MCU_E0_EN=gpio15 ,
#     MCU_TMCUART=gpio9  , MCU_TMCTX=gpio8   ,

#     MCU_X-STOP=gpio4   , MCU_Y-STOP=gpio3  , MCU_Z-STOP=gpio25   ,
#     MCU_E0-STOP=gpio16 ,

#     Extruder heater_pin:
#     MCU_HE=gpio23 ,
#     heater_bed header_pin:
#     MCU_HB=gpio21 ,
    
#     MCU_TH0=gpio27 ,
#     MCU_THB=gpio26  ,

#     MCU_FAN1=gpio17 , MCU_FAN2=gpio18 , MCU_FAN3=gpio20 ,

#     Not used:
#     MCU_SERVOS=gpio29 ,

#     Not used
#     MCU_PROBE=gpio22 ,

#     MCU_RGB=gpio24 ,

# [stepper_z]
# step_pin: gpio19
# dir_pin: !gpio28                                                    # Remove the ! before gpio28 if motor direction is inverted.
# enable_pin: !gpio2
# endstop_pin: ^gpio25

# MCU_Z_DIR should be inverted
# MCU_Z_EN shoudl be inverted
#     MCU_Z_STEP=gpio19  , MCU_Z_DIR=gpio28  , MCU_Z_EN=gpio2   ,
# # MCU_Z-STOP=gpio25   ,
# [stepper_z]
# step_pin: Z_STEP
# dir_pin: Z_DIR
# enable_pin: !Z_ENABLE
# endstop_pin: Z_STOP


# [stepper_z]
# dir_pin: !Z_DIR
# endstop_pin: !Z_STOP
